<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zu.milkbackground.mapper.CommodityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zu.milkbackground.po.Commodity">
        <id column="id" property="id" />
        <result column="product_name" property="productName" />
        <result column="detail_remarks" property="detailRemarks" />
        <result column="img_url" property="imgUrl" />
        <result column="price" property="price" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, product_name, detail_remarks, img_url, price
    </sql>

</mapper>
